# Environment files
.env
*.env
!.env.example

# Python & Virtualenv
backend/.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
*.db
*.sqlite3

# Frontend & Dependencies
frontend/node_modules/
frontend/dist/
node_dist/
.vite/

# OS Specific
.DS_Store
Thumbs.db
